@font-face {
  font-family: "Nunito Sans";
  font-weight: 400;
  src: url(../fonts/NunitoSans_7pt-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-weight: 700;
  src: url(../fonts/NunitoSans_7pt-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-weight: 800;
  src: url(../fonts/NunitoSans_7pt-ExtraBold.ttf) format("ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-weight: 600;
  src: url(../fonts/NunitoSans_7pt-SemiBold.ttf) format("ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-weight: 900;
  src: url(../fonts/NunitoSans_7pt-Black.ttf) format("ttf");
}
@font-face {
  font-family: "Nunito Sans";
  font-weight: 300;
  src: url(../fonts/NunitoSans_7pt-Light.ttf) format("ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url(../fonts/OpenSans-Bold.ttf) format("ttf");
}
