// ************************ Модальное окно ************************ //
// mf
.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;

  .modal {
    background: white;
    padding: 35px 16px;
    border-radius: 40px;
    height: 523px;
    position: relative;
    display: flex;
    width: 328px;
    .modal__body--img {
      position: absolute;
      left: 0;
      top: 0;
      img {
        border-radius: 38px 38px 0 0;
      }
    }
    &__title {
      text-align: center;
    }

    &__close {
      cursor: pointer;
      position: absolute;
      width: 33px;
      height: 33px;
      z-index: 100;
      top: -5px;
      right: -5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.modal__body--descr {
  font-weight: 800;
  font-size: 24px;

  line-height: 29px;
  // line-height: 120%;
  color: #242424;
  padding-bottom: 10px;
}
.modal__body {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.modal__body--sale {
  font-weight: 900;
  font-size: 56px;

  line-height: 77px;
  //   line-height: 120%;
  color: #076b82;
  span {
    background: #076b82;
    color: #fff;
    border-radius: 16px;
  }
}
.modal__body--hot {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 30px;
  padding-bottom: 38px;
  font-weight: 800;
  font-size: 20px;

  line-height: 24px;
  // line-height: 120%;
  color: #242424;
}
.modal__body--btn {
  border-radius: 100px;
  padding: 14px 32px;
  width: 100%;
  // height: 52px;
  background: #ffa800;
  font-weight: 800;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  // line-height: 120%;
  color: #fff;
}

// ************************ Кнопка вызова модального окна ************************ //
.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  cursor: pointer;
}
