.top {
  padding-bottom: 80px;
}
.top__title {
  font-weight: 800;
  font-size: clamp(2.25rem, 1.971rem + 1.143vw, 3rem);
  padding-bottom: clamp(6.25rem, 3.929rem + 9.524vw, 12.5rem);
  line-height: clamp(2.688rem, 2.339rem + 1.429vw, 3.625rem);
  text-align: center;
  // line-height: 120%;
  color: #000;
  span {
    background: linear-gradient(149deg, #26bebf 0%, #f330f2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.top__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.063rem, -5.476rem + 8.654vw, 2.313rem);
}
.top__item {
  box-shadow: 0 4px 15px 0 rgba(16, 34, 61, 0.08);
  background: #fff;
  border-radius: 40px;
  padding: 0px clamp(1rem, 0.629rem + 1.524vw, 2rem) 24px
    clamp(1rem, 0.629rem + 1.524vw, 2rem);
  // width: 380px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top__item--image {
  position: relative;
  width: 50px;
  height: 50px;
}
.top__item--image--img {
  position: absolute;
  z-index: 2;
  left: -65px;
  top: -90px;
}
.top__item--image--star {
  position: absolute;
  z-index: 1;
  top: -170px;
  left: 76px;
}
.top__item--title {
  padding-top: 110px;
  padding-bottom: 16px;
}
.top__item__info {
  display: flex;
  // align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 24px;
  gap: 10px;
}
.top__item__info--row {
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 8px;
}
.top__item__info--line {
  border-radius: 4px;
  width: 16px;
  height: 3px;
  background: #fb28ff;
}
.top__item__info--text {
  font-weight: 300;
  font-size: clamp(0.875rem, 0.852rem + 0.095vw, 0.938rem);

  line-height: clamp(1.063rem, 1.039rem + 0.095vw, 1.125rem);
  // line-height: 120%;
  color: #7a7a7a;
}
.top__item--btn {
  width: 316px;
  // height: 52px;
  background: #ffa800;
  border-radius: 100px;
  padding: 14px 32px;
  font-weight: 800;
  font-size: clamp(1rem, 0.907rem + 0.381vw, 1.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: clamp(1.188rem, 1.071rem + 0.476vw, 1.5rem);
  // line-height: 120%;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .top__items {
    flex-direction: column;
    gap: 100px;
  }
  .top__item--image--star {
    top: -101px;
    left: 113px;
  }
}
@media screen and (max-width: 768px) {
  .top__item--image--img {
    width: 195px;
    left: -53px;
    top: -86px;
  }
  .top__item--image--star {
    left: 82px;
  }
  .top__item--title {
    padding-top: 60px;
  }
}
